@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body::-webkit-scrollbar {
  display: none;
}
#sidebar::-webkit-scrollbar {
  display: none !important;
}
#container::-webkit-scrollbar {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  letter-spacing: 1.2px !important;
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color: #0000ff0d;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#sidebar {
  transition: 0.8s;
  z-index: 999;
}
.sidebar:hover {
  width: 270px !important;
}
@media (max-width: 700px) {
  .sidebar:hover {
    width: 250px !important;
  }
}
.sidebar:hover .divCenter {
  justify-content: start;
  padding-left: 16px;
}
.sidebar:hover .textIcon {
  display: block !important;
}

#root {
  position: relative;
}
img {
  margin-top: -5px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
}
.openSide {
  transition: 0.4s;
}
a {
  text-decoration: none;
  color: white;
}
.imgHover {
  transition: 0.5s;
}
.imgHover:hover {
  transform: scale(1.1);
}
.textIcon {
  transition: 1s;
}
.maxHeight {
  height: fit-content;
}
.divCenter {
  padding: 6px 12px;
  margin: 0px 10px;
  transition: 0.5px;
  border-radius: 8px;
}
.divCenter:hover {
  background-color: #f2f2ff65;
}
